Jwt__Issuer=IDelivery
Jwt__Audience=IDelivery.Client
Jwt__Key=CHANGE_THIS_TO_A_32_PLUS_CHAR_SECRET_KEY

ADMIN_EMAIL=admin@idelivery.local
ADMIN_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD

CUSTOMER_EMAIL=customer@idelivery.local
CUSTOMER_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD

RESTAURANT_OWNER_EMAIL=owner@idelivery.local
RESTAURANT_OWNER_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD

DELIVERY_DRIVER_EMAIL=driver@idelivery.local
DELIVERY_DRIVER_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD
